.header h1 {
	text-align: center;
	font-size: 36px;
}

.logo {
  width: 200px;
  margin: 0 auto;
}

.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 40px 20px;
}

.login-box .columns {
	padding: 0px;
}

.loggedIn {
  text-align: right;
}

.loggedIn form {
  width: auto;
}

.loggedIn ul {
  list-style-type: none;
  margin: 0px;
}

.loggedIn ul li {
  display: inline-block;
  margin-left: 10px;
}

.userName {
  font-weight: bold;
}

.logout {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit; 
     cursor: pointer;
}

.logout:hover {
     /*border-bottom:1px solid #444;*/
     text-decoration: underline; 
     -moz-text-decoration-color: #444; /* Code for Firefox */
    text-decoration-color: #444;
}

.copyright {
  font-size: 11px;
  text-align: center;
}

/*ICONS*/

.fa-heart, .fa-heart-o {
  color: red;
  cursor: pointer;
}

.popularity {
  margin-left: 2px;
  color: red;
}

/*GIFS*/
.goal {
  position: relative;
}

.goalGif, .goalPlaceholder {
  width: 400px;
  margin-top: 3px;
}

.goalGif {
  cursor: pointer;
}

/**** PLAY/LOADING ICONS ****/
.goalGif i { /*for icons in all states*/
  position: absolute;
  right: 165px;
  top: 75px;
  color: white; /*#D9DDDE;*/
  text-shadow: 0px 0px 15px black;
  display: none; /*by default*/
}

.goalGif.paused img {
  opacity: 0.7;
}

.paused i.fa-play {
  display: block;
  right: 165px;
  top: 75px;
}
.goalGif:hover i.fa-play {
  /*color: white;*/
  text-shadow: 0px 0px 35px blue;
}

.loading i.fa-spin {
  display: block;
  right: 160px;
  top: 82px;
}
/********/

.goal img {
  width: 100%;
}

.goalPlaceholder img {
  opacity: 0.7;
}

/*TRIM GOAL MODAL*/
#trimModal {
  width: 800px;
}

#trimModal .emphasis {
  font-weight: bold;
  text-decoration: underline;
}

.trimVideo {
  width: 150px;
  border-radius: 5px;
}