.day {
	text-align: center;
	font-size: 28px;
}

.day .date_display {
	cursor: pointer;
}

.day .date_display:hover {
	background-color: #f9fafc;
	border-radius: 5px;
}

table {
	/*width: 50%;*/
	margin: 0 auto;
}

.games table {
	font-size: 36px;
}

.team_home.loser , .team_away.loser {
	/*background-color: #ffddee; /*pink;*/
	color: gray;
	filter: grayscale();
}

table tr:hover {
	background-color: gray !important; 
	cursor: pointer;
}

.team_home {
	text-align: right;
}

table .score {
	font-size: 18px;
	text-align: center;
}

.score_detail {
	font-size: 14px;
}

.noGames {
	font-size: 16px;
	text-align: center;
}